<div data-role="page" id="welcome" data-url="<%= root_path %>">
  <div data-role="header" data-position="fixed">
    <h1>お薬手帳</h1>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
      <a href="#menu" data-role="button" data-icon="gear" data-iconpos="notext">メニュー</a>
    </div>
  </div>

  <div data-role="content">
    <% if @family_members.present? %>
      <%= form_tag :action => 'get_seals' do %>
        <%= select_tag :member_id, options_from_collection_for_select(@family_members, "id", "name", :selected => @member.id), :onchange => 'select_member(this);' %>
      <% end %>
    <% end %>
    <ul id="seals" class="seals">
      <% @seals.each do |s| %>
        <li><%= render 'show_seal', :seal => s %></li>
      <% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed">
    <%= link_to 'お薬手帳シールをアップロード', new_seal_path, :'data-rel' => 'dialog' %>
  </div>
</div>
