<div data-role="page" id="welcome" data-url="<%= root_path %>">
  <div data-role="header" data-position="fixed">
    <h1>お薬手帳</h1>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
      <a href="#menu" data-role="button" data-icon="gear" data-iconpos="notext">メニュー</a>
    </div>
  </div>
  <div data-role="content">
    <% if @family_members.size > 0 %>
      <%= form_for @member do |f| %>
      <%= f.select :name, @family_members.map{|t| [t.name, t.id]},{:selected => @member.id}, {:onchange => 'select_member($(this).val())'} %>
      <% end %>
    <% end %>
    <%= render 'seals', :seals => @seals %>
    <script>
      function select_member(id) {
        //alert(id);
        jQuery.get('<%= url_for :action => 'get_seals' %>', {user_id: id});
       }
    </script>
  </div>
  <div data-role="footer" data-position="fixed">
    <%= link_to 'お薬手帳シールをアップロード', new_seal_path, :'data-rel' => 'dialog' %>
  </div>
</div>
