<div data-role="page" id="upload_dialog">
  <div data-role="header">
    <h1>アップロード</h1>
  </div>
  <div data-role="content">
    <%= form_for @seal, :html => {:'data-ajax' => false} do |f| %>

    <% if @members.present? %>
      <div>
        <%= select_tag 'seal[member_id]', options_from_collection_for_select(@members, "id", "name", :selected => @selected_id) %>
      </div>
    <% end %>
      <div>
        <%= f.label :file %>
        <%= f.file_field :file %>
      </div>
      <div>
        <%= f.label :hospital_name %>
        <%= f.text_field :hospital_name %>
      </div>
      <div>
        <%= f.label :receipt_date %>
        <%= f.text_field :receipt_date, :type => 'date' %>
      </div>
      <div><%= f.submit 'アップロード' %></div>
    <% end %>
  </div>
</div>
