<div data-role="page" id="members" data-url="<%= edit_member_path(current_user) %>">
  <div data-role="header">
    <h1>個人設定</h1>
  </div>
  <div data-role="content">
    <script>
      var index =  <%= @family_members.length %>;
      function add_family_member() {
        index ++;
        $.get('<%= url_for :action => 'add_family_member' %>', {index: index, format: 'html'}, function(html) {
          $('#add_family_member').before(html);
          $('[type="text"]').textinput();
        });
      }
    </script>

    <%= form_for @member do |f| %>
      <table>
        <tr><td>名前：<%= f.text_field :name %></td></tr>
        <tr><td>家族：</td></tr>
        
        <% if @family_members.present? %>
          <% @family_members.each_with_index do |fm, i| %>
            <%= render 'family_member_fields', :nm => fm, :index => i %>
          <% end %>
        <% end %>

        <tr id='add_family_member'>
          <td align='right'><a href='' onclick='add_family_member();'>家族追加</a></td>
        </tr>
      </table>

      <div><%= f.submit '更新' %></div>
    <% end %>
  </div>
  <div data-role="footer" data-position="fixed">
    <%= link_to '戻る', root_path %>
  </div>
</div>
